In [1]:
import pandas as pd
import numpy as np
import datetime
import os

In [35]:
train_data_original = pd.read_csv("./data/train.csv.zip")
test_data = pd.read_csv("./data/test.csv.zip")

train_data = train_data_original.copy(deep=True)
data_cleaner = [train_data, test_data]

In [3]:
train_data.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [4]:
test_data.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [5]:
train_data.describe()

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

In [6]:
test_data.describe()

                 id         store         item
count  45000.000000  45000.000000  45000.00000
mean   22499.500000      5.500000     25.50000
std    12990.525394      2.872313     14.43103
min        0.000000      1.000000      1.00000
25%    11249.750000      3.000000     13.00000
50%    22499.500000      5.500000     25.50000
75%    33749.250000      8.000000     38.00000
max    44999.000000     10.000000     50.00000

In [36]:
df = pd.concat([train_data, test_data], sort=False)

In [12]:
# get a list of us federal holidays as a datetime object
from pandas.tseries.holiday import USFederalHolidayCalendar
days_off = USFederalHolidayCalendar().holidays(start='2013-01-01', end='2017-12-27').to_pydatetime()

In [37]:
df['date'] = pd.to_datetime(df['date'],infer_datetime_format=True)
df['month'] = df['date'].dt.month
df['weekday'] = df['date'].dt.dayofweek
df['year'] = df['date'].dt.year
df['day'] = df['date'].dt.day
df['weekofyear']  = df.date.dt.weekofyear
df['dayofyear']  = df.date.dt.dayofyear
# # checks if holiday 
df['isHoliday'] = df['date'].isin(days_off).astype(int)

In [38]:
# more date features
# checks if day of week is saturday or sunday 
df['isWeekend'] = df['date'].map(lambda x: 1 if (x==6 or x==5) else 0)

# check for season 
print('checking for season')
# summer: check if month is between june and august (6-8)
df['isSummer'] = df['month'].map(lambda x : 1 if x == 6 or x == 7 or x == 8 else 0)
# winter: check if month is between dec and feb (12-2)
df['isWinter'] = df['month'].map(lambda x : 1 if x == 12 or x == 1 or x == 2 else 0)
# autumn: check if month is between sept and nov (9-11)
df['isAutumn'] = df['month'].map(lambda x : 1 if x == 9 or x == 10 or x == 11 else 0)
# spring: check if month is between march and may (3-5)
df['isSpring'] = df['month'].map(lambda x : 1 if x == 3 or x == 4 or x == 5 else 0)

checking for season

In [39]:
df[['month', 'isSummer', 'isAutumn', 'isWinter', 'isSpring']].tail()

       month  isSummer  isAutumn  isWinter  isSpring
44995      3         0         0         0         1
44996      3         0         0         0         1
44997      3         0         0         0         1
44998      3         0         0         0         1
44999      3         0         0         0         1

In [40]:
print("year:", df['year'].unique())
print("month:", len(df['month'].unique()))
print("day:", len(df['day'].unique()))
print("weekofyear:", len(df['weekofyear'].unique()))
print("dayofyear:", len(df['dayofyear'].unique()))
print("weekday:", len(df['weekday'].unique()))
print("isWeekend:", df['isWeekend'].unique())
print("isHoliday:", df['isHoliday'].unique())
print("isSummer:", df['isSummer'].unique())
print("isAutumn:", df['isAutumn'].unique())
print("isSpring:", df['isSpring'].unique())
print("isWinter:", df['isSpring'].unique())

year: [2013 2014 2015 2016 2017 2018]
month: 12
day: 31
weekofyear: 53
dayofyear: 366
weekday: 7
isWeekend: [0]
isHoliday: [1 0]
isSummer: [0 1]
isAutumn: [0 1]
isSpring: [0 1]
isWinter: [0 1]

# Getting tranformation for datetime columns

In [41]:
datetime_cols = ['month', 'day', 'weekofyear', 'dayofyear', 'weekday', 'isWeekend', 'isHoliday', 'isSummer', 'isAutumn', 'isSummer', 'isWinter']
for col in datetime_cols:
    df[f'{col}_sum'] = df.groupby([f'{col}'])['sales'].transform('sum')
    df[f'{col}_median'] = df.groupby([f'{col}'])['sales'].transform('median')
    df[f'{col}_mean'] = df.groupby([f'{col}'])['sales'].transform('mean')
    print(f'done: {col}')

done: month
done: day
done: weekofyear
done: dayofyear
done: weekday
done: isWeekend
done: isHoliday
done: isSummer
done: isAutumn
done: isSummer
done: isWinter

In [42]:
df.head()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,isHoliday_mean,isSummer_sum,isSummer_median,isSummer_mean,isAutumn_sum,isAutumn_median,isAutumn_mean,isWinter_sum,isWinter_median,isWinter_mean
0,2013-01-01,1,1,13.0,NaN,1,1,2013,1,1,...,43.088040,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,8580134.0,35.0,38.049375
1,2013-01-02,1,1,11.0,NaN,1,2,2013,2,1,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,8580134.0,35.0,38.049375
2,2013-01-03,1,1,14.0,NaN,1,3,2013,3,1,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,8580134.0,35.0,38.049375
3,2013-01-04,1,1,13.0,NaN,1,4,2013,4,1,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,8580134.0,35.0,38.049375
4,2013-01-05,1,1,10.0,NaN,1,5,2013,5,1,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,8580134.0,35.0,38.049375

In [43]:
df.tail()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,isHoliday_mean,isSummer_sum,isSummer_median,isSummer_mean,isAutumn_sum,isAutumn_median,isAutumn_mean,isWinter_sum,isWinter_median,isWinter_mean
44995,2018-03-27,10,50,NaN,44995.0,3,1,2018,27,13,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,39124378.0,52.0,56.908186
44996,2018-03-28,10,50,NaN,44996.0,3,2,2018,28,13,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,39124378.0,52.0,56.908186
44997,2018-03-29,10,50,NaN,44997.0,3,3,2018,29,13,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,39124378.0,52.0,56.908186
44998,2018-03-30,10,50,NaN,44998.0,3,4,2018,30,13,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,39124378.0,52.0,56.908186
44999,2018-03-31,10,50,NaN,44999.0,3,5,2018,31,13,...,52.508233,33204553.0,44.0,48.615744,35465179.0,46.0,51.73622,39124378.0,52.0,56.908186

# Getting transformation for store/Items Column

In [44]:
columns_to_sum_median_mean = ['store', 'item']

In [45]:
# store/item sales sum/median
for col in columns_to_sum_median_mean:
    df[f'{col}_sales_sum'] = df.groupby([f'{col}'])['sales'].transform('sum')
    df[f'{col}_sales_median'] = df.groupby([f'{col}'])['sales'].transform('median')
    df[f'{col}_sales_mean'] = df.groupby([f'{col}'])['sales'].transform('mean')

    # ---------------------------------------------------
    df[f'{col}_month_sales_sum'] = df.groupby(['month',f'{col}'])['sales'].transform('sum')
    df[f'{col}_month_sales_median'] = df.groupby(['month',f'{col}'])['sales'].transform('median')
    # store sales day sum/median 
    df[f'{col}_day_sales_sum'] = df.groupby(['day',f'{col}'])['sales'].transform('sum')
    df[f'{col}_day_sales_median'] = df.groupby(['day',f'{col}'])['sales'].transform('median')
    # store sales weekday sum/median
    df[f'{col}_weekday_sales_sum'] = df.groupby(['weekday',f'{col}'])['sales'].transform('sum')
    df[f'{col}_weekday_sales_median'] = df.groupby(['weekday',f'{col}'])['sales'].transform('median')
    # store dayofyear sum/median
    df[f'{col}_dayofyear_sales_sum'] = df.groupby(['dayofyear',f'{col}'])['sales'].transform('sum')
    df[f'{col}_dayofyear_sales_median'] = df.groupby(['dayofyear',f'{col}'])['sales'].transform('median')
    # store weekofyear sum/median 
    df[f'{col}_weekofyear_sales_sum'] = df.groupby(['weekofyear',f'{col}'])['sales'].transform('sum')
    df[f'{col}_weekofyear_sales_median'] = df.groupby(['weekofyear',f'{col}'])['sales'].transform('median')

    # --------------------------------------------------- 
    # final one 
    # store sales year/month/day/weekday/dayofyear/weekofyear/ sum/median 
    df[f'{col}_month_weekday_day_sales_sum'] = df.groupby(['month', 'weekday', 'day', f'{col}'])['sales'].transform('sum')
    df[f'{col}_month_weekday_day_sales_median'] = df.groupby(['month', 'weekday', 'day', f'{col}'])['sales'].transform('median')
    df[f'{col}_month_weekday_day_sales_mean'] = df.groupby(['month', 'weekday', 'day', f'{col}'])['sales'].transform('mean')
    
    print(f'finished {col}')

finished store
finished item

In [46]:
df.head()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,item_day_sales_median,item_weekday_sales_sum,item_weekday_sales_median,item_dayofyear_sales_sum,item_dayofyear_sales_median,item_weekofyear_sales_sum,item_weekofyear_sales_median,item_month_weekday_day_sales_sum,item_month_weekday_day_sales_median,item_month_weekday_day_sales_mean
0,2013-01-01,1,1,13.0,NaN,1,1,2013,1,1,...,21.0,52930.0,19.0,772.0,15.0,5113.0,15.0,133.0,12.5,13.3
1,2013-01-02,1,1,11.0,NaN,1,2,2013,2,1,...,20.0,53281.0,20.0,711.0,14.0,5113.0,15.0,99.0,9.5,9.9
2,2013-01-03,1,1,14.0,NaN,1,3,2013,3,1,...,22.0,56604.0,21.0,793.0,16.0,5113.0,15.0,127.0,12.0,12.7
3,2013-01-04,1,1,13.0,NaN,1,4,2013,4,1,...,21.0,60671.0,22.0,786.0,16.0,5113.0,15.0,145.0,15.0,14.5
4,2013-01-05,1,1,10.0,NaN,1,5,2013,5,1,...,22.0,64546.0,24.0,770.0,14.0,5113.0,15.0,149.0,14.0,14.9

In [47]:
df.tail()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,item_day_sales_median,item_weekday_sales_sum,item_weekday_sales_median,item_dayofyear_sales_sum,item_dayofyear_sales_median,item_weekofyear_sales_sum,item_weekofyear_sales_median,item_month_weekday_day_sales_sum,item_month_weekday_day_sales_median,item_month_weekday_day_sales_mean
44995,2018-03-27,10,50,NaN,44995.0,3,1,2018,27,13,...,64.0,158226.0,59.0,2955.0,59.5,21496.0,59.0,0.0,NaN,NaN
44996,2018-03-28,10,50,NaN,44996.0,3,2,2018,28,13,...,62.0,159695.0,59.0,3088.0,60.5,21496.0,59.0,0.0,NaN,NaN
44997,2018-03-29,10,50,NaN,44997.0,3,3,2018,29,13,...,66.0,171078.0,63.0,2959.0,57.5,21496.0,59.0,0.0,NaN,NaN
44998,2018-03-30,10,50,NaN,44998.0,3,4,2018,30,13,...,66.0,181066.0,67.0,2993.0,58.5,21496.0,59.0,0.0,NaN,NaN
44999,2018-03-31,10,50,NaN,44999.0,3,5,2018,31,13,...,62.0,192856.0,71.0,2851.0,58.5,21496.0,59.0,0.0,NaN,NaN

# Getting Transformations For Store_Item Columns

In [48]:
# store sales sum/median
df['store_item_sales_sum'] = df.groupby(['store','item'])['sales'].transform('sum')
df['store_item_sales_median'] = df.groupby(['store','item'])['sales'].transform('median')
df['store_item_sales_mean'] = df.groupby(['store','item'])['sales'].transform('mean')

# ---------------------------------------------------
# store sales month sum/median 
df['store_item_month_sales_sum'] = df.groupby(['month','store','item'])['sales'].transform('sum')
df['item_month_sales_median'] = df.groupby(['month','store','item'])['sales'].transform('median')
# store sales day sum/median 
df['store_item_day_sales_sum'] = df.groupby(['day','store','item'])['sales'].transform('sum')
df['store_item_day_sales_median'] = df.groupby(['day','store','item'])['sales'].transform('median')
# store sales weekday sum/median
df['store_item_weekday_sales_sum'] = df.groupby(['weekday','store','item'])['sales'].transform('sum')
df['store_item_weekday_sales_median'] = df.groupby(['weekday','store','item'])['sales'].transform('median')
# store dayofyear sum/median
df['store_item_dayofyear_sales_sum'] = df.groupby(['dayofyear','store','item'])['sales'].transform('sum')
df['store_item_dayofyear_sales_median'] = df.groupby(['dayofyear','store','item'])['sales'].transform('median')
# store weekofyear sum/median 
df['store_item_weekofyear_sales_sum'] = df.groupby(['weekofyear','store','item'])['sales'].transform('sum')
df['store_item_weekofyear_sales_median'] = df.groupby(['weekofyear','store','item'])['sales'].transform('median')

# ---------------------------------------------------

# store sales year/month/day/weekday/dayofyear/weekofyear/ sum/median 
df['store_item_month_weekday_day_sum'] = df.groupby(['month', 'weekday','day', 'store', 'item'])['sales'].transform('sum')
df['store_item_month_weekday_day_median'] = df.groupby(['month', 'weekday','day', 'store', 'item'])['sales'].transform('median')
df['store_item_month_weekday_day_mean'] = df.groupby(['month', 'weekday','day', 'store', 'item'])['sales'].transform('mean')

In [49]:
df.head()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,store_item_day_sales_median,store_item_weekday_sales_sum,store_item_weekday_sales_median,store_item_dayofyear_sales_sum,store_item_dayofyear_sales_median,store_item_weekofyear_sales_sum,store_item_weekofyear_sales_median,store_item_month_weekday_day_sum,store_item_month_weekday_day_median,store_item_month_weekday_day_mean
0,2013-01-01,1,1,13.0,NaN,1,1,2013,1,1,...,19.0,4742.0,18.0,73.0,13.0,475.0,13.5,13.0,13.0,13.0
1,2013-01-02,1,1,11.0,NaN,1,2,2013,2,1,...,19.0,4905.0,19.0,72.0,14.0,475.0,13.5,11.0,11.0,11.0
2,2013-01-03,1,1,14.0,NaN,1,3,2013,3,1,...,20.0,5077.0,19.0,63.0,12.0,475.0,13.5,14.0,14.0,14.0
3,2013-01-04,1,1,13.0,NaN,1,4,2013,4,1,...,19.5,5485.0,21.0,75.0,14.0,475.0,13.5,13.0,13.0,13.0
4,2013-01-05,1,1,10.0,NaN,1,5,2013,5,1,...,20.0,5996.0,22.0,67.0,14.0,475.0,13.5,10.0,10.0,10.0

In [50]:
df.tail()

,date,store,item,sales,id,month,weekday,year,day,weekofyear,...,store_item_day_sales_median,store_item_weekday_sales_sum,store_item_weekday_sales_median,store_item_dayofyear_sales_sum,store_item_dayofyear_sales_median,store_item_weekofyear_sales_sum,store_item_weekofyear_sales_median,store_item_month_weekday_day_sum,store_item_month_weekday_day_median,store_item_month_weekday_day_mean
44995,2018-03-27,10,50,NaN,44995.0,3,1,2018,27,13,...,69.5,17690.0,68.0,345.0,67.0,2407.0,68.0,0.0,NaN,NaN
44996,2018-03-28,10,50,NaN,44996.0,3,2,2018,28,13,...,73.0,17963.0,71.0,338.0,60.0,2407.0,68.0,0.0,NaN,NaN
44997,2018-03-29,10,50,NaN,44997.0,3,3,2018,29,13,...,73.5,19192.0,73.0,341.0,73.0,2407.0,68.0,0.0,NaN,NaN
44998,2018-03-30,10,50,NaN,44998.0,3,4,2018,30,13,...,74.0,20430.0,79.0,344.0,68.0,2407.0,68.0,0.0,NaN,NaN
44999,2018-03-31,10,50,NaN,44999.0,3,5,2018,31,13,...,73.0,21625.0,83.0,324.0,67.0,2407.0,68.0,0.0,NaN,NaN

# Export processed data

In [51]:
# train_data.to_csv('./data/preprocessed_train_data.csv')
# test_data.to_csv('./data/preprocessed_test_data.csv')
df.to_csv('./data/preprocessed_train_test_data.csv')